<div class="container mt-2">
  <div *ngIf="!isAdding">
  <ng-container *ngIf="customers | async as listCustomers; else failureOrLading">
    <div class="card">
      <div class="card-header custom-header">
        Manage your customers
        <button (click)="onAdd()" data-bs-toggle="modal" data-bs-target="#exampleModal" mat-raised-button color="primary" style="left:62%;" >
          <mat-icon>add</mat-icon>New customer
        </button>
      </div>
      <div class="card-body">
        <div *ngIf="searchFormGroup">
          <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchCustomers()">
            <div class="input-group">
              <label class="input-group-text">Search </label>
              <input type="text" formControlName="keyword" class="form-control">
              <button class="btn btn-info">
                <mat-icon class="white-icon">search</mat-icon>
              </button>
            </div>
          </form>
        </div>
        <table class="table custom-table">
          <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Tools</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let customer of listCustomers">
            <td>{{customer.id}}</td>
            <td>{{customer.name}}</td>
            <td>{{ customer.email }}</td>
            <td>
              <button (click)="handleDeleteCustomer(customer)" class="btn btn-danger" style="margin-right: 10px;">
                <mat-icon>delete_outline</mat-icon>
              </button>
              <button (click)="onUpdate(customer)" type="button" class="btn btn-success">
                <mat-icon>create</mat-icon>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>
  <ng-template #failureOrLading>
    <ng-container *ngIf="errorMessage; else loading">
      <div class="text-danger">
        {{errorMessage}}
      </div>
    </ng-container>
    <ng-template #loading>
      Loading .....
    </ng-template>
  </ng-template>
</div>

  <div *ngIf="isAdding">
    <form [formGroup]="customerForm">
      <div class="mb-3">
        <label for="name" class="form-label">Name:</label>
        <input type="text" class="form-control" id="name" formControlName="name">
        <span class="text-danger"
              *ngIf="customerForm.controls['name'].touched
                  && customerForm.controls['name'].errors
                  && customerForm.controls['name'].errors!['required']">
              Name is required
            </span>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input type="email" class="form-control" id="email" formControlName="email">
        <span class="text-danger"
              *ngIf="customerForm.controls['email'].touched
                  && customerForm.controls['email'].errors
                  && customerForm.controls['email'].errors!['required']">
              Email is required
            </span>
      </div>

      <button (click)="handleSaveCustomer()" [disabled]="!customerForm.valid" class="mt-3 btn btn-primary">Enregistrer</button>
      <button (click)="cancelAdd()" class="mt-3 btn btn-secondary">Annuler</button>
    </form>
  </div>

</div>


<!--<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="staticBackdropLabel">Insérer vos informations</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="customerForm" >
        <div class="mb-3">
          <label for="name" class="form-label">Name:</label>
          <input type="text" class="form-control" id="name" formControlName="name">
          <span class="text-danger"
                *ngIf="customerForm.controls['name'].touched
                    && customerForm.controls['name'].errors
                    && customerForm.controls['name'].errors!['required']">
                Name is required
              </span>
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Email:</label>
          <input type="email" class="form-control" id="email" formControlName="email">
          <span class="text-danger"
                *ngIf="customerForm.controls['email'].touched
                    && customerForm.controls['email'].errors
                    && customerForm.controls['email'].errors!['required']">
                Email is required
              </span>
        </div>
        <button *ngIf="addBtn" (click)="handleSaveCustomer()" [disabled]="!customerForm.valid" class="mt-3 btn btn-primary">Enregistrer</button>
        <button id="cancel" type="button" class="position-absolute mt-3 top-75 end-0 me-3 btn btn-secondary" data-bs-dismiss="modal">Annuler</button>


      </form>
    </div>

  </div>
</div>-->

